<h2>You bought a spaceship! Super, go you!</h2>

<p> Order ID<%= @order.id %> </p>
<h3>Purchased at: <%= @order.created_at %></h3>


<% @order.carted_products.each do |carted_product| %>
  <h2>Name: <%= carted_product.product.name %></h2>
  <h5>Quantity: <%= carted_product.quantity %></h5>
<% end %>

<h3>Subtotal: <%= @order.subtotal %></h3>
<h3>Tax: <%= @order.tax %></h3>
<h3>Total: <%= @order.total %></h3>

<img src="<% @order.ship.image %>" alt=">"
