<!DOCTYPE html>
<html>
<head>
  <title>ShipStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/ships">Ship Yard Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Blank<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort Price<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/ships?sort=price&sort_order=asc">Lowest to Highest</a></li>
            <li><a href="/ships?sort=price&sort_order=desc">Highest to Lowest</a></li>
            <li><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=decorate%20your%20ship">Link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=warp%20drive">Link</a></li>
            <li role=
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/carted_products"><span class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart (<%= @cart_count %>)</a></li>
            <% if current_user && current_user.admin %>
              <li><%= link_to "Add New Ship", "ships/new" %></li>
            <% end %>
          
              <% if current_user == nil %>
               <li><%= link_to "Log in", "/users/sign_in" %></li>
               <li><%= link_to "Sign up", "/users/sign_up" %></li>
              <% else %>
               <li><%= link_to "Sign out", "/users/sign_out", method: :delete %></li>
              <% end %>
            
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort by Type<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/ships?category=older_model">Older Model</a></li>
            <li><a href="/ships?category=newer_model">Newer Model</a></li>
            <li><a href="/ships?category=warp_drive">Warp Drive</a></li>
            <li><a href="/ships?category=enhanced shields">Enhanced Shields</a></li>
            <li><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=decorate%20your%20ship">Ship Decor</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=warp%20drive">About warp drive</a></li>
            <li role="menu">
            
          </ul>
        </li>
            
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
 
<% flash.each do |name, message| %>
<!--  <div class="alert alert-<%= name %>" role="alert"><%= message %></div>
 --> 
  <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
    <%= message.html_safe %>  
  </div>
<% end %>
<%= yield %>
</div>
</body>
</html>
